:root {
    --token-size: 64px;
}

html {
    background-color: black;
    color: white
}

.tictactoe-board {
    display: grid;
    grid-template-columns: repeat(3, var(--token-size));
}

.grid-item {

    color: red;
    height: var(--token-size);
    width: var(--token-size);
    font-size: var(--token-size);
    text-align: center;
}

.win > span{
    color: blue;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}