:root {
    --token-size: 64px;
}

.tictactoe-board {
    display: grid;
    grid-template-columns: repeat(3, var(--token-size));
}

.grid-item {
    border: 1px solid black;
    color: red;
    height: var(--token-size);
    width: var(--token-size);
    font-size: var(--token-size);
    text-align: center;
}

.win {
    color: blue
}