:root {
    --token-size: 128px;
}

html {
    background-color: black;
    color: white
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid white;
}

.tictactoe-board {
    display: grid;
    grid-template-columns: repeat(3, var(--token-size));
    height: 60vh;
    width: 60vh;
}

.grid-item {
    color: white;
    height: var(--token-size);
    width: var(--token-size);
    font-size: var(--token-size);
    text-align: center;
}

.win > span{
    color: blue;
    animation: blinker 1s linear infinite;
}

.score {
    display: flex;
    width: 60vh;
    justify-content: space-evenly;
}

.setup {
    display: flex;
    margin-top: 20px;
}

label {
    text-align: center;
}

input {
    display: none
}

#player1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

#player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}